div {
    width: 685px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 2px 8px;
}

th {
    text-align: center;
}

.sum {
    text-align: right;
    font-weight: bold;
}

button {
    display: block;
    margin: 8px 0 0 auto;
    padding: 12px 22px;
}
